<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techno.waterpressure">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_hydraulic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.techno.waterpressure.broadcast.NetworkStateMonitor"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <service
            android:name="com.techno.waterpressure.warning.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.techno.waterpressure.broadcast.Restarter"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.techno.waterpressure.ui.main.TempMonitoringService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.techno.waterpressure.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.techno.waterpressure.warning.WarningService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
        <service
            android:name="com.techno.waterpressure.warning.NotificationService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_warning_red" />
        </service>
        <service
            android:name="com.techno.waterpressure.warning.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>